{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    About Page
{% endblock title %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">
        About Page
    </h3>
    <p>
       <h4>Hey guys,</h4>
       <br>
       <h5>This is the developer RITIK ANAND.</h5>
       <br>
       <h5 style="line-height: 1.6;">It is a very simple and user friendly blog website where you read blogs posted by others, you can create your own blogs for others to read and know about the current scenario. <br>
       You can even update your blogs the one you posted and even delete them.<br>
       For availing all these features you must Register using your valid email id and then get yourself logged.</h5>
    </p>
    <br>
    <footer>
        <h5>Happy Blogging!!!!</h5>
    </footer>
    

</div>


{% endblock content %} 